html {
    height: 100%;
    width: 100%;
    min-width: 100px;
    min-height: 100px;
    box-sizing: border-box;
    margin: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;
    font-family: 'Segoe UI', gadudi, Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    min-width: 100px;
    min-height: 100px;
    background-color: white;
    overflow-y: hidden;
}

#pageHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    height: 69px;
    max-height: 69px;
    width: 100%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-top: 0.9%;
    padding-bottom: 0.9%;
    position: sticky;
    background-color: white;
}

#headerA {
    display: flex;
    justify-content: flex-start;
    height: max-content;
    width: 21.7%;
    min-width: fit-content;
}

#ololanLogo {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    width: fit-content;
    margin-left: 7px;
}

#logo {
    height: 32px;
    width: 32px;
}

#pageTitle {
    height: fit-content;
    font-size: 14px;
    font-weight: normal;
    color: #56bcc5;
    margin-left: 4px;
    margin-top: 6.5px;
}

#headerB {
    display: flex;
    justify-content: center;
    height: max-content;
    width: 78%;
}

#searchBox {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    box-shadow: 1px 1px 2px #e9e9eb;
    height: 40px;
    width: 65%;
    border: 1px solid #f7f7f9;
    border-radius: 4px;
    background-color: #fbfbfd;
    padding-left: 5px;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 2px;
}

#searchBox:focus-within,
#searchBox:focus-within:hover {
    border: 2px solid #68e7f0;
    box-shadow: 1px 1px 2px #e9e9eb;
    padding-left: 4px;
    padding-right: 0px;
    padding-top: 0px;
    transition: border-color .11s linear;
}

#searchBox:hover {
    border: 1px solid #68e7f0;
    transition: border-color .11s linear;
}

.dialogField:hover {
    border: 1px solid #68e7f0;
    transition: border-color .11s linear;
}

#searchInput {
    background-color: transparent;
    color: #606060;
    height: 36px;
    width: 96.5%;
    margin-left: 3px;
    padding-bottom: 2px;
    padding-right: 3px;
    border-radius: 4px;
}

#searchInput:focus {
    color: #656565;
}

#searchInput,
.itemTitleInput,
.itemUrlInput,
#fieldInput,
#editInput {
    border-radius: 4px;
    border: none;
    outline: none;
}

#searchInput,
#searchInput::placeholder,
.itemTitleInput,
.itemTitleInput::placeholder,
.itemUrlInput,
.itemUrlInput::placeholder,
#fieldInput,
#fieldInput::placeholder,
#editInput,
#editInput::placeholder {
    font-size: 14.3px;
    font-weight: normal;
    font-family: 'Segoe UI', gadudi, Tahoma, Geneva, Verdana, sans-serif;
}

#searchInput::placeholder,
.itemTitleInput::placeholder,
.itemUrlInput::placeholder,
#fieldInput::placeholder,
#editInput::placeholder {
    color: #b6b6b6;
}

#searchInput::-webkit-search-cancel-button {
    position: relative;
    -webkit-appearance: none;
    border: none;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    background-image: url(../../images/closeTwo.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

#searchInput:focus::-webkit-search-cancel-button {
    background-image: url(../images/cancelTyping.png);
}

#searchBoxIcon {
    height: 16px;
    width: 16px;
    margin-top: 10px;
    margin-left: 2px;
}

#pageBody {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    height: 89%;
    max-height: 89%;
    min-height: 10px;
    position: relative;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background-color: white;
}

#leftSection {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    height: 100%;
    min-height: 50px;
    width: 22%;
    min-width: 100px;
    max-width: 22%;
    border-top: 1px solid #f4f4f6;
    border-right: 1px solid #f4f4f6;
    padding: 10px;
    background-color: white;
}

#folderSection {
    position: relative;
    top: 0.9%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    max-height: 100%;
    min-height: 50px;
    width: 100%;
    box-sizing: border-box;
    overflow-y: auto;
}

#addFolderControl {
    display: flex;
    justify-content: center;
    height: 36px;
    width: 60%;
    min-width: max-content;
    border: 1px solid #56bcc5;
    border-radius: 4px;
    background-color: #56bcc5;
    color: #ffffff;
    margin-bottom: 5px;
    padding-right: 10px;
    outline: none;
}

#addFolderControl:hover {
    background-color: #51b2b9;
    border: 1px solid #51b2b9;
}

#addFolderControl:active {
    background-color: #4ba4ac;
    border: 1px solid #4ba4ac;
}

.dirControl {
    display: flex;
    justify-content: flex-start;
    height: 36px;
    width: 100%;
    min-width: 80px;
    max-width: 100%;
    border: 1px solid white;
    border-radius: 4px;
    background-color: transparent;
    color: #56bcc5;
    margin-bottom: 8px;
    padding-left: 10px;
    padding-right: 4px;
    outline: none;
}

.dirControl:focus,
.controlButton:hover,
.controlButton:active,
#addFolderControl:active,
#addFolderControl:hover,
.cancelButton,
.saveButton,
#undoButton,
#selectButton,
.itemButtonEdit,
.itemButtonDelete,
.itemButtonSave,
.itemButtonCancel,
.folderOptionEdit,
.folderOptionDelete {
    transition: all .11s linear;
}

.folderIcon {
    height: 24px;
    width: 24px;
    margin-top: 4px;
}

.folderOptionContainer {
    display: none;
    justify-content: flex-end;
    width: 52px;
    height: 27px;
    margin-top: 2px;
}

.folderOptionEdit,
.folderOptionDelete {
    height: 26px;
    width: 26px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px;
}

.folderOptionEdit {
    background-image: url("../images/editFolder.png");
}

.folderOptionEdit:hover,
.folderOptionDelete:hover {
    background-color: #efeff1;
}

.folderOptionDelete {
    background-image: url("../images/deleteFolder.png");
}

.folderOptionDelete:active,
.folderOptionEdit:active {
    background-color: #dfdfe1;
}

.controlButtonIcon {
    height: 22px;
    width: 22px;
    outline: none;
}

#buttonText {
    display: block;
    margin-left: 3px;
    margin-top: 8px;
    height: 16px;
    width: fit-content;
}

.dirText {
    display: block;
    text-align: left;
    margin-left: 3px;
    margin-top: 8px;
    height: 16px;
    width: 68%;
    max-width: 68%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#middleSection {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    height: 100%;
    max-height: 100%;
    min-height: 1%;
    width: 52px;
    min-width: 52px;
    border-right: 1px solid #dcd8e8;
    background-color: #56bcc5;
    padding-top: 3%;
    padding-bottom: 3%;
}

.controlButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 40px;
    background-color: #56bcc5;
    border: 1px solid #56bcc5;
    border-radius: 18%;
    margin-bottom: auto;
}

.controlButton:hover {
    background-color: #4ba4ac;
    border: 1px solid #4ba4ac;
}

.controlButton:active {
    background-color: #44979d;
    border: 1px solid #44979d;
}

.controlButton:disabled,
.controlButton:disabled:hover {
    background-color: #5bc8d0;
    border: 1px solid #5bc8d0;
    cursor: default;
}

#rightSection {
    box-sizing: border-box;
    height: 100%;
    max-height: 100%;
    min-height: 1%;
    width: 78%;
    max-width: 78%;
    padding-bottom: 10px;
}

#controlBar {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    height: 1px;
    width: auto;
    border-bottom: 1px solid #f4f4f6;
    padding: 0px;
    transition: box-shadow .18s linear;
    transition: height .11s linear;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}

#itemView {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    overflow-y: auto;
    height: 99.9%;
    width: 100%;
    max-height: 99.9%;
    min-height: 100px;
    min-width: max-content;
}

#itemView::-webkit-scrollbar,
#folderSection::-webkit-scrollbar {
    border: 1px solid #efefef;
    border-radius: 4px;
    width: 9px;
    background-color: #f2f5f5;
}

#itemView::-webkit-scrollbar-thumb,
#folderSection::-webkit-scrollbar-thumb {
    border: 1px solid #56bcc5;
    border-radius: 4px;
    min-height: 5px;
    background-color: #56bcc5;
}

#itemList {
    display: block;
    height: 100%;
    width: 100%;
    max-height: max-content;
    min-height: fit-content;
    width: 70%;
    min-width: max-content;
}

.item {
    display: flex;
    justify-content: flex-start;
    box-shadow: 1px 1px 2px #d9d9db;
    box-sizing: border-box;
    height: 42px;
    width: 99%;
    min-width: fit-content;
    border: 1px solid #f9f9fb;
    border-radius: 4px;
    background-color: #fdfdff;
    margin-top: 7px;
    margin-bottom: 7px;
    opacity: 1.0;
}

.item.hide {
    transition: .11s linear;
    opacity: 0.0 !important;
    height: 21px !important;
}

.itemIcon {
    height: 16px;
    width: 16px;
    margin-top: 12px;
    background-color: transparent;
    margin-left: 1.35%;
}

#addFolderControl,
.saveButton,
.cancelButton,
.item,
.itemTitleInput,
.itemUrlInput {
    cursor: pointer;
}

.itemTitle,
.itemUrl {
    height: 90%;
    margin-top: 0.30%;
    margin-left: 1.35%;
    border: 2px solid transparent;
    border-radius: 4px;
    box-sizing: border-box;
    padding-top: 0.1%;
}

.itemTitle {
    width: 31.5%;
}

.itemUrl {
    width: 61%;
}

.itemTitleInput,
.itemUrlInput {
    color: #656565;
    height: 86.4%;
    background-color: transparent;
    padding-top: 1px;
    padding-left: 5px;
}

.itemTitleInput {
    width: 97.5%;
}

.itemUrlInput {
    width: 98.7%;
}

.itemButtonContainerA,
.itemButtonContainerB {
    justify-content: space-around;
    height: 28px;
    width: auto;
    margin-top: 6px;
    padding-left: 7px;
    padding-right: 7px;
}

.itemButtonContainerA {
    display: flex;
}

.itemButtonContainerB {
    display: none;
}

.itemButtonEdit,
.itemButtonDelete,
.itemButtonSave,
.itemButtonCancel {
    height: 28px;
    width: 28px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-size: 14px;
    outline: none;
}

.itemButtonEdit {
    background-image: url("../images/editFolder.png");
}

.itemButtonDelete {
    background-image: url("../images/deleteFolder.png");
}

.itemButtonSave {
    background-image: url("../images/saveEditing.png");
}

.itemButtonCancel {
    background-image: url("../images/cancelEditing.png");
}

.itemButtonEdit:hover,
.itemButtonDelete:hover,
.itemButtonSave:hover,
.itemButtonCancel:hover {
    background-color: #efeff1;
}

.itemButtonCancel:active,
.itemButtonDelete:active,
.itemButtonEdit:active,
.itemButtonSave:active {
    background-color: #dfdfe1;
}

#emptyView {
    display: none;
    justify-content: center;
    height: fit-content;
    width: 100%;
    min-width: fit-content;
    padding-top: 20%;
    color: #656565;
}

#noResult {
    display: none;
    justify-content: center;
    height: fit-content;
    width: 100%;
    min-width: fit-content;
    padding-top: 20%;
    color: #656565;
}

.eViewMessage,
.noResultMessage {
    box-sizing: border-box;
    color: #656565;
    padding-top: 1%;
    font-size: 14px;
}

.dialogContainer {
    display: none;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.3);
}

#dialogBoxOne,
#dialogBoxTwo {
    display: block;
    box-sizing: border-box;
    height: 197px;
    width: 469px;
    border: 1px solid #efeff1;
    border-radius: 7px;
    background-color: white;
    padding: 20px;
}

.dialogControls {
    display: flex;
    justify-content: flex-end;
    align-content: space-around;
    height: auto;
    width: 100%;
}

.dialogTitle {
    color: #56bcc5;
    font-size: 16px;
    height: 28%;
    width: auto;
}

.dialogBody {
    height: 49%;
}

.fieldTitle {
    color: #56bcc5;
    font-size: 14px;
    height: 20%;
    width: auto;
    margin-bottom: 1.5%;
}

.dialogField {
    box-sizing: border-box;
    height: 33px;
    width: 100%;
    border: 1px solid #efeff1;
    border-radius: 4px;
    background-color: #ffffff;
    transition: border-color .11s linear;
}

.dialogField:focus-within {
    border: 2px solid #68e7f0;
}

#fieldInput,
#editInput {
    color: #656565;
    height: 85%;
    width: 98.5%;
    background-color: transparent;
    padding-left: 10px;
}

#fieldInput:focus,
#editInput:focus {
    padding-left: 9px;
}

.cancelButton {
    background-color: transparent;
    height: 33px;
    width: 90px;
    border: 1px solid #efeff1;
    border-radius: 4px;
    color: #56bcc5;
    cursor: pointer;
    outline: none;
}

.cancelButton:hover {
    background-color: #f9f9fb;
}

.cancelButton:active {
    background-color: #f0f0f2;
}

.saveButton {
    background-color: #56bcc5;
    height: 33px;
    width: 90px;
    border: 1px solid #56bcc5;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    margin-left: 60%;
    cursor: pointer;
    outline: none;
}

.saveButton:hover {
    background-color: #51b2b9;
    border: 1px solid #51b2b9;
}

.saveButton:active {
    background-color: #4ba4ac;
    border: 1px solid #4ba4ac;
}

#selectedNotification {
    height: 1px;
    min-height: fit-content;
    width: 30%;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px #d1d1d1;
    display: none;
    justify-content: space-between;
    border-top: 1px solid #dcd8e8;
    border-left: 1px solid #dcd8e8;
    border-bottom: 1px solid #56bcc5;
    border-right: 1px solid #56bcc5;
    border-radius: 4px;
    color: #ffffff;
    margin-top: 4px;
    margin-bottom: 4px;
    transition: height .11s linear;
    background-color: #56bcc5;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 5px;
    opacity: 0.0;
}

#selectedNotification.notificationShowUp {
    display: flex;
    height: 42px;
    opacity: 1.0;
    transition: .11s linear !important;
}

#selectedNotification.notificationHide {
    display: flex;
    height: 1px;
    transition: .11s linear !important;
}

#selectionText {
    height: fit-content;
    width: fit-content;
    font-size: 14px;
    margin-top: 4.1px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#selectButton {
    display: flex;
    justify-content: center;
    height: 86%;
    width: 30px;
    min-height: 1px;
    border-radius: 4px;
    background-color: #56bcc5;
    border: 1px solid #56bcc5;
    outline: none;
}

#selectButton:hover {
    background-color: #4ba4ac;
    border: 1px solid #4ba4ac;
}

#selectButton:active {
    background-color: #44979d;
    border: 1px solid #44979d;
}

#selectButtonIcon {
    height: 24px;
    width: 24px;
    filter: contrast(100%);
    margin-top: 1px;
}

#undoNotification {
    display: none;
    justify-content: center;
    height: max-content;
    width: max-content;
    position: fixed;
    right: 10px;
    bottom: 0px;
    opacity: 0.0;
}

#undoNotification.show {
    transition: .11s linear;
    opacity: 1.0 !important;
    bottom: 35px !important;
}

#undoButton {
    background-color: #dd9067;
    height: 42px;
    width: 125px;
    border: 1px solid #dd9067;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    outline: none;
    box-shadow: 1px 1px 2px #d1d1d1;
}

#undoButton:hover {
    background-color: #ca825e;
    border: 1px solid #ca825e;
}

#undoButton:active {
    background-color: #b07152;
    border: 1px solid #b07152;
}

#undoText {
    font-size: 14px;
}